@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Eikos Partners c/o Tower 49<br />
    12 East 49th St<br />
    New York, NY 10017<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Laura.Shapiro@eikospartners.com">Laura.Shapiro@eikospartners.com</a><br />
</address>
